 # ignore these in the repo
node_modules/
tippecanoe/
Attic/
npm-debug.log
yarn-error.log
**/.DS_Store

# agentscript
# agentscript/

# Files > 100MB, github limit
santafe7.osm
santafe7.json

# Original data before modifications
data0/